:root{
    --lavender: #d5cad6;
    --dpurple: #0D0628;
    --nickel: #6c756b;
    --seagreen: #58bc82;
    --citrine: #ead637;
    --tanCrayola: #DF9B6D;
    --shadow: 0 1px 3px var(--dpurple);
}


*{
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto Condensed', sans-serif;
}

body{
    background-color: lightgrey;
}

div.intro_div{
    margin-top: 15px;
    padding-bottom: 15px;
}

div.intro_div div#intro_divtext{
    text-align: center;
    padding: 5px 5px 5px 40px;
    float: left;
    max-width: 30%;
}

div.intro_div div#intro_divtext h2{
    text-shadow: var(--shadow);
    color: var(--dpurple);
}

div.intro_div div#intro_divtext p.green_txt{
    color: var(--seagreen);
    background-color: var(--dpurple);
    border-radius: 10px;
}

div.intro_div div#intro_divpic{
    max-height: auto;
    margin-right:33px;
    margin-bottom: 40px;
    padding: 7px 7px 7px 7px;
    float: right;
    background-color: var(--seagreen);
    border-radius: 10px;
}

div.history{
    clear:both;
    padding-top: 30px;
    border-top: #0D0628 dashed 3px;
    border-bottom: #0D0628 dashed 3px;
    padding-bottom: 25px;
}

div.history h2{
    text-align: center;
    color: var(--dpurple);
    text-shadow: var(--shadow);
}

div.history p.yellow{
    background-color: var(--citrine);
    color: var(--dpurple);
    border-radius: 10px;
    text-align: center;
    box-shadow: var(--shadow);
}

div.history p.gray{
    background-color: var(--seagreen);
    color: var(--dpurple);
    border-radius: 10px;
    text-align: center;
    box-shadow: var(--shadow);
}

div.mywork{
    padding-top: 30px;
}

div.mywork ul li{
    text-decoration: none;
    list-style: none;
}

div.mywork h2{
    text-align: center;
    color: var(--dpurple);
    text-shadow: var(--shadow);
}

div.mywork h4{
    text-decoration: underline;
}

div.mywork div.flexbox{
    display: flex;
    flex-basis: 100%;
    justify-content: space-around;
    padding-bottom: 20px;
}

div.mywork div.flexbox div.finished{
    flex-basis: 45%;
    background-color: var(--dpurple);
    color: var(--seagreen);
    text-align: center;
    border-radius: 10px;
    box-shadow: var(--shadow);
}


div.mywork div.flexbox div.future{
    align-self: flex-end;
    flex-basis: 45%;
    background-color: var(--dpurple);
    color: var(--seagreen);
    text-align: center;
    border-radius: 10px;
    box-shadow: var(--shadow);
}



/*begin media queries*/


@media screen and (min-width: 615px){

    div.intro_div div#intro_divtext p{
        font-size: 1.2em;
    }

    div.intro_div div#intro_divtext h2{
        font-size: 2em;
    }

    div.intro_div div#intro_divpic{
        margin-top: 40px;
        transform: scale(1.2, 1.2);
    }

    div.history p{
        margin: 0em 2em 0em 2em;
    }
}

@media screen and (min-width: 790px){

    div.intro_div div#intro_divtext{
        padding-left: 90px;
    }

    div.intro_div div#intro_divpic{
        margin-right: 90px;
    }

    div#flexbox_lrg{
        clear: both;
        display: flex;
        flex-direction: row;
        border:var(--dpurple) dashed 3px;
    }

    div#flexbox_lrg div.history{
        flex-basis: 60%;
        border-style:hidden;
    }

    div#flexbox_lrg div.mywork{
        flex-basis: 39%;
        justify-self: center;
        margin: auto;
        border-left: var(--dpurple) dashed 3px;
    }
}


